/*
    External CSS file
    Author: Phan Vo - 300320809
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #204051;
}

body{
    min-height: 400px;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header, article, footer{
    padding: 5px;
}

footer{
    background-color: #b8cfd1;
}

header{
    height: 250px;
    background-image: url('../images/ocean-bg.jpg');
    background-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
    font-weight: bold;
    position: relative;
}

/* create mirror fish icon */
header img:nth-child(2){
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

header #clock{
    position: absolute;
    top: 220px;
    right: 10px;
    color: white;
    font-size: medium;
    font-weight: normal;
}

header { grid-area: header; }
footer { grid-area: footer; }
#introSec { grid-area: introSec; }
#sec1 { grid-area: sec1; }
#sec2 { grid-area: sec2; }
#sec3 { grid-area: sec3; }
#sec4 { grid-area: sec4; }
#sec5 { grid-area: sec5; }
#sec6 { grid-area: sec6; }

/* mobile layout (default) */
article{
    width: 100%;
    padding: 10px;
    background-color: #3b6978;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'introSec'
        'sec1'
        'sec2'
        'sec3'
        'sec4'
        'sec5'
        'sec6';
}

section{
    padding: 10px;
    background-color: #b8cfd1;
    border-radius: 10px;
}

section figure img{
    width: 100%;
    border-radius: 10px;
}

section[id^="sec"]{
    text-align: center;
}

#introSec p{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    clear: both;
    height: 40px;
    text-align: right;
}


/* desktop layout */
@media only screen and (min-width: 769px){
    body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            'header header' 
            'nav article'
            'footer footer';
    }

    #sec3{
        margin-top: 0;
    }

    #backToTopBtn{
        border: none;
        border-radius: 10px;
        background-color: #cae8d5;
        font-size: 18px;
        outline: none; 
        cursor: pointer; /* add a mouse pointer on hover */
        padding: 15px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99; /* prevent overlapping */
    }
      
    #backToTopBtn:hover{
        background-color: #3b6978;
        color: white;
    }
}