/*
    External CSS file
    Author: Phan Vo - 300320809
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: gray;
}

body{
    min-height: 400px;
    width: 80%;
    margin: auto;
}

header, article, footer{
    /* font-weight: bold; */
    padding: 5px;
}

header, footer{
    background-color: #b0e0e6;
}

header{
    height: 100px;
    /* overflow: hidden; */
}

header { grid-area: header; }
footer { grid-area: footer; }
#introSec { grid-area: introSec; }
#sec1 { grid-area: sec1; }
#sec2 { grid-area: sec2; }
#sec3 { grid-area: sec3; }
#sec4 { grid-area: sec4; }
#sec5 { grid-area: sec5; }
#sec6 { grid-area: sec6; }

/* mobile layout (default) */
article{
    /* float: right; */
    width: 100%;
    /* overflow: auto; */
    /* height: 300px; */
    padding: 10px;
    background-color: #d2b48c;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'introSec'
        'sec1'
        'sec2'
        'sec3'
        'sec4'
        'sec5'
        'sec6';
}

section{
    padding: 10px;
    /* height: 200px; */
    /* text-align: center; */
    /* border: 2px dotted blue; */
    font-size: 10pt;
    background-color: #f08080;
}

section figure img{
    width: 100%;
    /* max-height:100%; */
}

section[id^="sec"]{
    text-align: center;
}

#introSec p{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    clear: both;
    height: 40px;
    text-align: right;
}




/* tablet layout */
@media only screen and (min-width: 601px){
    section{
        background-color: yellow;
        /* border: 2px solid red; */
        font-size: 12pt;
    }
}



/* desktop layout */
@media only screen and (min-width: 769px){
    body{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            'header header' 
            'nav article'
            'footer footer';
    }


    /* article{
        width: 80%;
    } */

    section{
        background-color: #90ee90;
        /* border: 3px double blue; */
        font-size: 14pt;
    }

    #sec3{
        margin-top: 0;
    }

    #backToTopBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      
    #backToTopBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
}