/*
    External CSS file
    Author: Phan Vo - 300320809
*/

/* update color for Contact page link */
nav a:nth-child(3){
    background-color: #3b6978;
}

nav a:nth-child(3):visited{
    color: white;
}

article{
    grid-template-areas:
        'introSec'
        'sec1'
        'sec2';
}

section[id^="sec"]{
    text-align: left;
}

form div{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

div#formBtns{
    flex-flow: row nowrap;
    justify-content: center;
}

div#formBtns input{
    height: 30px;
    width: 50%;
    margin: 10px 10px 5px;
}

address{
    margin-top: 10px;
}

address p{
    margin-bottom: 10px;
}

/* modal (background) for form submitting */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 100px;
    width: 100%;
    height: 100%; 
}

/* modal content for form submitting */
.modal-content {
    position: relative;
    background-color: #b8cfd1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
}

/* add modal animation for form submitting */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* close button for form submitting */
.close {
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* style modal header and body */
.modal-header {
    padding: 10px;
    background-color: #3b6978;
    color: white;
}

.modal-body {
    padding: 20px;
}

/* create CSS inline validations for the form */
input#firstName:focus:valid,
input#lastName:focus:valid,
input#email:focus:valid,
input#enquiry:focus:valid,
input#phone:focus:valid{
    background: honeydew url('../images/valid_icon.png') bottom right/contain no-repeat;
}

input#firstName:focus:invalid,
input#lastName:focus:invalid,
input#email:focus:invalid,
input#enquiry:focus:invalid,
input#phone:focus:invalid{
    background: mistyrose url('../images/invalid_icon.png') bottom right/contain no-repeat;
}

textarea#message:focus:valid{
    background-color: honeydew;
}

textarea#message:focus:invalid{
    background-color: mistyrose;
}

/* tablet & desktop layout */
@media only screen and (min-width: 601px){
    article{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'introSec introSec'
            'sec1 sec2';
    }
}