/*
    External CSS file
    Author: Phan Vo - 300320809
*/

/* update color for Explore page link */
nav a:nth-child(2){
    background-color: #3b6978;
}

nav a:nth-child(2):visited{
    color: white;
}

section[id^="sec"] {
    text-align: left;
}

blockquote{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* create responsive layout for iframe videos */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}