/*
    External CSS file
    Author: Phan Vo - 300320809
*/


/* desktop layout */
/* @media only screen and (min-width: 769px){
    nav{
        height: 1480px !important;
    }
} */



nav a:nth-child(2){
    background-color: #3b6978;
}

nav a:nth-child(2):visited{
    color: white;
}

section[id^="sec"] {
    text-align: left;
}

blockquote{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* iframe{
    width: 100%;
    height: 500px;
} */

#video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}