/*
    External CSS file
    Author: Phan Vo - 300320809
*/

/* mobile layout (default) */
nav{
    min-height: 40px;
    text-align: center;
    background-color: #cae8d5;
    position: sticky;
    top: 0;
    z-index: 99;
}

  
/* Hide the links inside the navigation menu */
nav #myLinks {
    display: none;
}

/* Style navigation menu links */
nav a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

nav a:visited{
    color:black;
}

nav a:hover{
    background-color: #3b6978;
}

/* Style the hamburger menu */
nav a.icon {
    background-image: url('../images/hamburger_menu_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: 6px;
}



/* tablet layout */
@media only screen and (min-width: 601px){
    nav{
        position: sticky;
    }

    nav #myLinks {
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    nav #myLinks a{
        flex: 1;
    }

    nav a.icon {
        display: none;
    }
}

/* desktop layout */
@media only screen and (min-width: 769px){
    nav {
        /* float: left; */
        /* width: 20%; */
        /* height: 640px; */

        position: static;
    }

    nav #myLinks {
        display: flex !important;
        flex-flow: column nowrap;
    }

    nav #myLinks a{
        height: 50px;
        padding: 16px;
        width: 100%;
    }

    nav a.icon {
        display: none;
    }
}