/*
    External CSS file
    Author: Phan Vo - 300320809
*/

/* mobile layout (default) */
nav{
    min-height: 40px;
    text-align: center;
    background-color: #faf0e6;
    /* overflow: hidden; */

    position: sticky;
    top: 0;
}



/* .pageClass{
    display: none;
} */

 /* Style the navigation menu */
 /* .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  } */
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  #topnav a {
    /* color: white; */
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
    display: block;
  }
  
  /* Style the hamburger menu */
  #topnav a.icon {
    /* background: black; */
    background-image: url('../images/hamburger_menu_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: 6px;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  /* .active {
    background-color: #4CAF50;
    color: white;
  } */






/* tablet layout */
@media only screen and (min-width: 601px){
    /* .pageClass{
        display: inline;
    } */

    #topnav{
        position: sticky;
    }

    #topnav #myLinks {
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    #topnav #myLinks a{
        flex: 1;
    }

    #topnav a.icon {
        display: none;
    }


    /* nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        
        position: sticky;
        top: 0;
    }

    nav div{
        flex: 1;
    } */

    
}

/* desktop layout */
@media only screen and (min-width: 769px){
    /* .pageClass{
        display: inherit;
    } */

    #topnav {
        /* display: initial; */
        float: left;
        width: 20%;
        height: 640px;

        position: static;
    }

    #topnav #myLinks {
        display: flex !important;
        flex-flow: column nowrap;
    }

    #topnav #myLinks a{
        height: 50px;
        padding: 16px;
        width: 100%;
    }

    #topnav a.icon {
        display: none;
    }

    /* nav{
        display: initial;
        float: left;
        width: 20%;
        height: 640px;

        position: static;
    }

    nav div{
        height: 50px;
        padding: 16px;
    } */

    

    /* nav div:last-child{
        background-color: red;
    } */
}